<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Uploader</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <script src="/folder.js" defer></script>

  <style>
    .storage__columns,
    .storage__folder,
    .storage__file {
      grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    }
  </style>
</head>

<body>
  <div class="file-upload--wrapper">
    <form method="post" action="/add-file/<%= folderName %>" class="file-upload" enctype="multipart/form-data">
      <div class="file__upload__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <title>upload</title>
          <path d="M9,16V10H5L12,3L19,10H15V16H9M5,20V18H19V20H5Z" />
        </svg>
      </div>
      <div class="file-upload__upload">
        <input type="file" id="file" class="file-upload__upload--file" name="file">
        <label class="file-upload__upload--button" for="file">Click to upload</label>
        <div class="file-upload__additional">and click sumbit button</div>
      </div>
      <div class="file-uploade__max-size">Maximum file size 50 MB.</div>
      <button class="file-upload__upload--submit" type="submit">Submit</button>
      <button type="button" class="file-upload__close-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <title>close</title>
          <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
        </svg>
      </button>
    </form>
  </div>

  <div class="app">
    <header class="header">
      <h1 class="header__logo">File Uploader</h1>
      <div class="header__user--info">
        <div class="header__user--name"><%= username %></div>
        <a href="/log-out" class="header__user--logout">Log Out</a>
      </div>
    </header>
    <main class="main">
      <div class="main__actions">
        <button class="main__actions--add-file">Add file</button>
        <!-- <button class="main__actions--add-folder">Add folder</button> -->
      </div>
      <div class="storage">
        <div class="storage__columns">
          <div class="storage__column">Name</div>
          <div class="storage__column">Size</div>
          <div class="storage__column">Type</div>
          <div class="storage__column">Uploaded</div>
          <div class="storage__column">Actions</div>
        </div>
        <div class="storage__files">
          <% files.forEach((file) => { %>
          <div class="storage__file">
            <div class="storage__file--info">
              <div class="storage__file--icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <title>file-document</title>
                  <path d="M13,9H18.5L13,3.5V9M6,2H14L20,8V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V4C4,2.89 4.89,2 6,2M15,18V16H6V18H15M18,14V12H6V14H18Z" />
                </svg>
              </div>
              <div class="storage__file--name"><%= file.originalName %></div>
            </div>
            <div class="storage__file--size">50 GB</div>
            <div class="storage__file--type">File</div>
            <div class="storage__file--uploaded"><%= file.uploadTime %></div>
            <div class="storage__file--actions">
              <a href="/files/info/<%= file.id %>" class="storage__file--actions-info">Info</a>
              <a href="/files/delete/<%= file.id %>" class="storage__file--actions-delete">Delete</a>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </main>
  </div>
</body>

</html>